<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <title>🏺 Foundations of Antiquity - From Homer to Aristotle</title>
  <meta name="description"
    content="Supplemental information about early classical antiquity - from Homer (Ὅμηρος), through Aristotle (Ἀριστοτέλης), and ending with the💀 of King Philip (Φίλιππος)">

  <!-- Facebook Meta Tags -->
  <meta property="og:url" content="https://r33d.org/sectors/foundations-of-antiquity/">
  <meta property="og:type" content="website">
  <meta property="og:title" content="🏺 Foundations of Antiquity - From Homer to Aristotle">
  <meta property="og:description"
    content="Supplemental information about early classical antiquity - from Homer (Ὅμηρος), through Aristotle (Ἀριστοτέλης), and ending with the💀 of King Philip (Φίλιππος)">
  <meta property="og:image" content="/sectors/foundations-of-antiquity/social-banner-preview.webp">

  <!-- Twitter Meta Tags -->
  <meta name="twitter:card" content="summary_large_image">
  <meta property="twitter:domain" content="preview.r33d.org">
  <meta property="twitter:url" content="https://r33d.org/sectors/foundations-of-antiquity/">
  <meta name="twitter:title" content="🏺 Foundations of Antiquity - From Homer to Aristotle">
  <meta name="twitter:description"
    content="Supplemental information about early classical antiquity - from Homer (Ὅμηρος), through Aristotle (Ἀριστοτέλης), ending with the 💀 of King Philip (Φίλιππος)">
  <meta name="twitter:image" content="/sectors/foundations-of-antiquity/social-banner-preview.webp">

  <!-- Meta Tags Generated via https://opengraph.dev -->

  <link rel="stylesheet" href="/style.css">

  {# begin favicon - Note: https://realfavicongenerator.net #}
  <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
  <link rel="manifest" href="/site.webmanifest">
  {# <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#FBBD5E"> Note: I don't really like safari pinned tab style #}
  <meta name="msapplication-TileColor" content="#2d89ef">
  <meta name="theme-color" content="#facc15">
  {# end favicon #}

</head>

<body class=" bg-attic-red-200">
  <main>
    <article class="md:mt-16 mx-auto prose prose-attic md:prose-lg
    ">
      <div id="heading" class="px-2 not-prose">
        <span class="block text-3xl md:text-5xl my-3 md:my-5 font-extralight text-attic-gray-200">
          <a href="/">Public Works'</a>
        </span>
        <h1>
          <span class="block text-5xl md:text-9xl">
            <a href="/sectors/foundations-of-antiquity" style="-webkit-text-stroke: 1px #5C2E2D;"
              class="font-playfair-display text-attic-black-800 hyphens-auto">Foundations of Antiquity</a>
          </span>
          <p role="doc-subtitle" class="block mt-8 mb-4 text-right text-3xl md:text-6xl
            font-arca-majora
            text-attic-gray-200
           ">From Homer to Aristotle</p>
        </h1>
        <a
          href="https://en.wikipedia.org/wiki/Minoan_civilization#/media/File:Map_of_Greece,_Archipelago_and_part_of_Anadoli;_Louis_Stanislas_d'Arcy_Delarochette_1791.jpg">
          <img src="/img/maps/map-of-greece-and-anadoli.webp" alt="Map of Greece, drawn in 1791 by William Faden"
            title="Map of Greece, drawn in 1791 by William Faden" class="border-2 border-attic-black-900">
        </a>
      </div>
      <hr class="mt-4 border-1 md:border- border-red-500">
      <div id="content" class="md:my-16 px-2 font-fira-sans font-normal
      prose-h2:text-attic-black-700
      prose-h3:text-attic-black-600
       prose-strong:text-attic-black-900
       prose-em:text-attic-black-900
      ">
        {{ section.content | safe }}
      </div>
    </article>
  </main>
  <footer class="flex pb-14">
    <a class="mx-auto text-xl text-attic-black-900 underline" href="/">Back to main</a>
  </footer>

</body>

</html>